body {
  background: #10131a;
  color: white;
  text-align: center;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

.tela {
  padding: 50px;
}

.escondido {
  display: none;
}

.titulo {
  font-size: 45px;
  animation: brilho 2s infinite;
}

@keyframes brilho {
  0% { text-shadow: 0 0 10px red; }
  50% { text-shadow: 0 0 20px blue; }
  100% { text-shadow: 0 0 10px red; }
}

.catatal {
  width: 250px;
  animation: flutuar 2s infinite;
}

@keyframes flutuar {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.botao {
  padding: 15px 25px;
  margin: 10px;
  border: none;
  background: #007bff;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}
.botao:hover {
  background: #0056cc;
}

.botao-voltar {
  margin-top: 20px;
  background: #444;
}
